* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
}

.inputbox {
    margin: 16px;
    padding: 8px;
}

.outputbox {
    margin: 16px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 6px;
}

.btn {
    background-color: crimson;
    margin: 16px;
    padding: 8px;
    border-radius: 6px;
    width: 15%;
    text-align: center;
}