* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
}

.box {
    background-color: crimson;
    padding: 8px;
    margin: 14px;
}

.box1 {
    background-color: limegreen;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box3 {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 20px;
}